<h1>Burgers!</h1>



<ul>
    <h2>New Burgers</h2>
    {{#each burger}}
        {{#unless this.devoured}}
            {{this.burger_name}} <button id="devoured">Devoured it!</button><br>
        {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burger}}
        {{#if this.devoured}}
            {{this.burger_name}}
        {{/if}}
    {{/each}}
</ul>


<form class="create-form">
    <div class="form-group">
        <label for="burg">Add a burger:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button id="button" type="submit">Submit</button>

</form>