body {
  background: gray;
}


#burgerimage {
  height: 100px;
  width: 100px;
  margin: 3px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 5px;
  }